<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public\dashboard.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://kit.fontawesome.com/ed76cbd5d2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="">
    </head>
    <body>        
        <div class="mb-5">
            <nav class="navbar navbar-dark bg-dark fixed-top navbar-fixed mb-5">
                <span class="navbar-brand mb-0 h1">MechFuse</span>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 px-0">
                    <nav class="navbar-light bg-light sidebar d-none d-md-block">
                        <div class="sidebar-sticky ml-2">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item active"><a class="nav-link" href="/"><i class="fas fa-home"></i> Dashboard</a></li>
                                <li class="nav-item active"><a class="nav-link" href="/addEmployee"><i class="fas fa-user-plus"></i> Add Employee</a></li>
                                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-tasks"></i> Tasks</a></li>
                                <li class="nav-item active"><a class="nav-link" href="#">Tasks</a></li>
                                <li class="nav-item active"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> LogOut</a></li>
                            </ul>
                        </div>        
                    </nav>
                </div>
                <main class="col-md-10 mt-5">
                    <div class="d-block">

                
        
        